/* .swiper-image-container {
    position: relative;
  }
  
  .swiper-image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .swiper-text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .swiper-text-overlay h2 {
    margin-top: 0;
  }
  
  .swiper-text-overlay p {
    margin-bottom: 0;
  } */